{% extends "base.html" %}

{% block title %}Tout doux liste{% endblock %}

{% block content %}
    <div class="accueil">
        <div class="annonce">
            <p>Découvrez une toute nouvelle façon de planifier votre journée en toute sérénité.<br><br>
            Notre site est accompagné d'un système musical apaisant pour chaque tâche qui est en cours.<br><br>
            Laissez-vous emporter par la tranquillité, la productivité et la musique qui vous inspire.
            </p>
        </div>
    </div>
{% endblock %}